<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="EXECUTORFOLDER" Name="Executor" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ExecutorFiles">
            <Component Id="cmpExecutorMicrosoftExtensionsConfigurationAbstractions" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-111111111111}">
                <File Id="filExecutorMicrosoftExtensionsConfigurationAbstractions" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmpExecutorMicrosoftExtensionsConfigurationBinder" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-111111111112}">
                <File Id="filExecutorMicrosoftExtensionsConfigurationBinder" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmpExecutorMicrosoftExtensionsConfiguration" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-111111111113}">
                <File Id="filExecutorMicrosoftExtensionsConfiguration" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmpExecutorMicrosoftExtensionsDependencyInjectionAbstractions" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-111111111114}">
                <File Id="filExecutorMicrosoftExtensionsDependencyInjectionAbstractions" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmpExecutorMicrosoftExtensionsDependencyInjection" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-111111111115}">
                <File Id="filExecutorMicrosoftExtensionsDependencyInjection" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmpExecutorMicrosoftExtensionsLoggingAbstractions" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-111111111116}">
                <File Id="filExecutorMicrosoftExtensionsLoggingAbstractions" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmpExecutorMicrosoftExtensionsLoggingConfiguration" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-111111111117}">
                <File Id="filExecutorMicrosoftExtensionsLoggingConfiguration" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Microsoft.Extensions.Logging.Configuration.dll" />
            </Component>
            <Component Id="cmpExecutorMicrosoftExtensionsLoggingConsole" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-111111111118}">
                <File Id="filExecutorMicrosoftExtensionsLoggingConsole" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Microsoft.Extensions.Logging.Console.dll" />
            </Component>
            <Component Id="cmpExecutorMicrosoftExtensionsLogging" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-111111111119}">
                <File Id="filExecutorMicrosoftExtensionsLogging" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmpExecutorMicrosoftExtensionsOptionsConfigurationExtensions" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-11111111111A}">
                <File Id="filExecutorMicrosoftExtensionsOptionsConfigurationExtensions" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            </Component>
            <Component Id="cmpExecutorMicrosoftExtensionsOptions" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-11111111111B}">
                <File Id="filExecutorMicrosoftExtensionsOptions" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmpExecutorMicrosoftExtensionsPrimitives" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-11111111111C}">
                <File Id="filExecutorMicrosoftExtensionsPrimitives" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmpExecutorOpenAutomateBotAgentExecutorDeps" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-11111111111D}">
                <File Id="filExecutorOpenAutomateBotAgentExecutorDeps" KeyPath="yes" Source="$(var.ExecutorOutputDir)\OpenAutomate.BotAgent.Executor.deps.json" />
            </Component>
            <Component Id="cmpExecutorOpenAutomateBotAgentExecutorDll" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-11111111111E}">
                <File Id="filExecutorOpenAutomateBotAgentExecutorDll" KeyPath="yes" Source="$(var.ExecutorOutputDir)\OpenAutomate.BotAgent.Executor.dll" />
            </Component>
            <Component Id="cmpExecutorOpenAutomateBotAgentExecutorExe" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-11111111111F}">
                <File Id="filExecutorOpenAutomateBotAgentExecutorExe" KeyPath="yes" Source="$(var.ExecutorOutputDir)\OpenAutomate.BotAgent.Executor.exe" />
            </Component>
            <Component Id="cmpExecutorOpenAutomateBotAgentExecutorPdb" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-111111111120}">
                <File Id="filExecutorOpenAutomateBotAgentExecutorPdb" KeyPath="yes" Source="$(var.ExecutorOutputDir)\OpenAutomate.BotAgent.Executor.pdb" />
            </Component>
            <Component Id="cmpExecutorOpenAutomateBotAgentExecutorRuntimeconfig" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-111111111121}">
                <File Id="filExecutorOpenAutomateBotAgentExecutorRuntimeconfig" KeyPath="yes" Source="$(var.ExecutorOutputDir)\OpenAutomate.BotAgent.Executor.runtimeconfig.json" />
            </Component>
            <Component Id="cmpExecutorSerilogExtensionsLogging" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-111111111122}">
                <File Id="filExecutorSerilogExtensionsLogging" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Serilog.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmpExecutorSerilogSinksConsole" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-111111111123}">
                <File Id="filExecutorSerilogSinksConsole" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Serilog.Sinks.Console.dll" />
            </Component>
            <Component Id="cmpExecutorSerilogSinksFile" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-111111111124}">
                <File Id="filExecutorSerilogSinksFile" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Serilog.Sinks.File.dll" />
            </Component>
            <Component Id="cmpExecutorSerilog" Directory="EXECUTORFOLDER" Guid="{A1B2C3D4-E5F6-7890-ABCD-111111111125}">
                <File Id="filExecutorSerilog" KeyPath="yes" Source="$(var.ExecutorOutputDir)\Serilog.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
