<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dir73D925AE8D269EFA5D58CC0C77DF1660" Name="net8.0" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ServiceFiles">
            <Component Id="cmp3E7DB1356EE23D52A2052660CCDAE9A8" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{02F2AA6C-94AD-43E0-AE88-7BD4766E9491}">
                <File Id="fil34AD3984BD9365A220B64D38AD5AC8D5" KeyPath="yes" Source="$(var.ServiceOutputDir)\appsettings.Development.json" />
            </Component>
            <Component Id="cmpF13F3D7DBF7886380DDBF5F7502E1AF2" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{EC6FA233-6893-4566-880A-F244485B017A}">
                <File Id="filC12A956A6BF330225A870086D07BBE5A" KeyPath="yes" Source="$(var.ServiceOutputDir)\appsettings.json" />
            </Component>
            <Component Id="cmpBA21FFE57BEFB5E028C1907D4A233860" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{1EE56807-851D-4A56-90A7-B4EBFD6C9928}">
                <File Id="fil21D87E570C9A6D701438A69AFAF69EED" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.AspNetCore.Connections.Abstractions.dll" />
            </Component>
            <Component Id="cmpCE12D4BC55CA973EB86FFB64E14B5601" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{F5F75107-81EF-47B5-B9A6-89C72C4E3E24}">
                <File Id="fil2F73C353043533584886B7803DA279FE" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.AspNetCore.Http.Connections.Client.dll" />
            </Component>
            <Component Id="cmpCB5A18896A22221A45FC1B9D195CEFF1" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{E4DA4978-EB0D-4450-9BA8-4D242AED0487}">
                <File Id="fil3E67451E66BE4B45C0C3C8EB99A2CC16" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.AspNetCore.Http.Connections.Common.dll" />
            </Component>
            <Component Id="cmp3A42D3BCE37AB3286C5C90654154F018" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{4A4634C3-79D4-45E2-92AD-01934C99B08F}">
                <File Id="fil49BB7B806239E1D27DF6E59C69CED0A1" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.AspNetCore.SignalR.Client.Core.dll" />
            </Component>
            <Component Id="cmp88492FC0AA32D1DF7E8716A20AB5C2A5" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{D2D1BE37-CFD5-4D68-B19B-578220D82A38}">
                <File Id="filBCDB708E5DA663CB516415E512BDC0AC" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.AspNetCore.SignalR.Client.dll" />
            </Component>
            <Component Id="cmp2F5954B5F92FBBE814887281DF9E07FF" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{A578E4C3-DDAA-4BA4-9C19-308DEF4CE652}">
                <File Id="fil8D9A43E8945930F7C00C3C08E02BC06D" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.AspNetCore.SignalR.Common.dll" />
            </Component>
            <Component Id="cmp5165B1C15836939203B363CEE42E9ED0" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{93B1C4C7-6DAF-40E5-A0A1-9EE68CF1A61D}">
                <File Id="fil532BF8E761F1B1644D1BBDC70AAC25FE" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.AspNetCore.SignalR.dll" />
            </Component>
            <Component Id="cmpDFC5400F7536014BC9EC8823A9E31702" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{2069C761-0A0B-48CE-9BFF-EBA41A609754}">
                <File Id="fil61506E86E4052AAD5909292754E8977C" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.AspNetCore.SignalR.Protocols.Json.dll" />
            </Component>
            <Component Id="cmpA5F7BF5FC55A30FB3DD492C5D9DED26F" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{F309B80E-316F-4DB7-86A2-97B68E979866}">
                <File Id="fil8E87E801391CF3D6AC530284C740778E" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmp995B6D199B82198EF046E0FE05CCCDA1" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{6F75F5D4-3EC0-4CCF-8683-E94000D8EAD0}">
                <File Id="fil22ABB481C9C9F38830B5957A63D1DDE8" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmpDF911FCC03C6868DF76E14B8CC1494A1" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{770CC9B4-A4BC-4A96-89B7-71DD52434BEE}">
                <File Id="fil2E975CFF9915CCCFD3CFC9FBCFE38839" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmp900D88C4F90EE2AB26BF28D1A1D27CC7" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{D7457424-57B3-49A8-8AF3-14BDF2838078}">
                <File Id="fil5C40E18B922EBD304C441768D8C7566E" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            </Component>
            <Component Id="cmpCF5CD72EFD144803F6FDFC3B01972CFF" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{9F06C4D7-234E-4086-9CFB-5B9AB20C5A28}">
                <File Id="fil2FAEF7CEC18E92412836D8D1B74022CA" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmpAC2A8DD73F702FD4DE1E1AFF7CA61B05" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{D60A260B-7F8F-4CE3-A667-D00E9817DC8A}">
                <File Id="fil0B30F654A2610EDF8819ED7CD3717010" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp7F814031C5EA0B06F11C0830507CB9AD" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{61F6AD40-A151-4ADF-AA47-6743C7998F09}">
                <File Id="filFE23772C42A375FE85283AD1DFB465E8" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Diagnostics.Abstractions.dll" />
            </Component>
            <Component Id="cmp70F5F125BC458C533543999AF62717CC" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{36322B3B-C879-4646-BC41-8DFB6A202927}">
                <File Id="fil4BCC52380B35074C7D696A68E5D2DDBF" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Diagnostics.dll" />
            </Component>
            <Component Id="cmpFCCBA7122A80B320BE7ED7C39C262D89" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{BBE80316-B404-47B7-BFE8-F34DF49CCA03}">
                <File Id="filCBEF2905EFE24D99A12D0C02C261F207" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Features.dll" />
            </Component>
            <Component Id="cmp92EA7BB85F4CE0C5B5F33E022B8BEB0B" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{145A1192-7926-4EE4-B4A0-165CB853FCF6}">
                <File Id="fil3CAB74148887AF0FE4DD3BFD36766C04" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="cmp67ECE83D858B8E73092A183847FBFBCA" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{0EFED0F6-E56E-48DF-9A8C-2595DE4353AF}">
                <File Id="fil50DB98A78BD366A7725287ABA3C4D85E" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Hosting.dll" />
            </Component>
            <Component Id="cmp2202810A04593E9677D5F4BB115DED80" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{42C8A636-DA86-4070-A645-785000F1B149}">
                <File Id="fil8C3D6C37B408DEFDC98158855D641121" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Hosting.WindowsServices.dll" />
            </Component>
            <Component Id="cmp3BEE2E7A524C04C8763660062C7DAAEB" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{78043C13-F277-4872-98CA-4F3CC00C3DA7}">
                <File Id="filB0C9ABEF1B012611A8FD0C701C7541C5" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Http.dll" />
            </Component>
            <Component Id="cmp59095062F7B81029DDFB655801B6778C" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{401C1898-6268-452C-B53F-8A306142A842}">
                <File Id="fil950F63D8C2D81DCF9702349317B05D05" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmp78443BC67D03B965345CB1770A4CF878" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{CA7C5084-A9C4-441F-9C77-FE2C8649327F}">
                <File Id="fil667272A42D432AFA3842C356C311A547" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Logging.Configuration.dll" />
            </Component>
            <Component Id="cmp87CA0D01AA7AD66A1B5D7AB3F281C320" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{0E4FAB72-F395-43C6-A54E-D0BF7C36E8A8}">
                <File Id="filE1F7D40C30B086A513B78BE428A6E812" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Logging.Console.dll" />
            </Component>
            <Component Id="cmp24B13B0ED6B219A2AB05C1863B46BD3F" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{27E232E8-4552-4C6F-AA99-6FF9AE7CB8BA}">
                <File Id="fil8D748F97D3B514EAE435D4AAF58E509C" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Logging.Debug.dll" />
            </Component>
            <Component Id="cmpA2D94C0908F0B635DC4DB369E09FDE8B" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{C9C8D2C6-E4D6-4282-960E-1079CC007CB4}">
                <File Id="fil4A52B8141B8739C1D7CE0D2AA967511E" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmp94FB71899AA51BDB9D1A74FAE0CFDDCF" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{8F094B74-6A35-494D-A5AF-259438C70AEF}">
                <File Id="fil940005E67A8B5CC86C17E6A45510C095" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Logging.EventLog.dll" />
            </Component>
            <Component Id="cmp3F5EA8E509EE88B561E04EEFEB7F812C" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{A2BB9484-05EB-44F4-92B9-D34597E3A2F9}">
                <File Id="fil3F516833DCE458E828172AEE53396290" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Logging.EventSource.dll" />
            </Component>
            <Component Id="cmpCEC1EE0AA194C0F461A2BBA65D4BEF44" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{2F6EA395-B54D-43DB-85B5-23AD26ED06A3}">
                <File Id="fil4C98B60E25076D699CE60F26D12CD23A" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.ObjectPool.dll" />
            </Component>
            <Component Id="cmp0FCE4EB1B0A69DDBAFD27AD0A95C7D83" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{0725E03D-7B1D-478C-AC79-FDB13F580AC4}">
                <File Id="filFC63F56ABBB9F77ABF1F6002F0D8AD63" KeyPath="yes" Source="$(var.ServiceOutputDir)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmp96E9FB9066F31ADDA052D107F465153B" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{D5AF4429-9C77-4CED-B255-DA5115A3E552}">
                <File Id="filF04B8E24E28C338D53D5098BE5E9F0BE" KeyPath="yes" Source="$(var.ServiceOutputDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpBB00C637A985FC72A5DBC8FBB98DDD4C" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{F7D3C5A9-2320-49F7-8129-68BA8AF43552}">
                <File Id="fil66500F00FB2BB96C480A3C36991537A0" KeyPath="yes" Source="$(var.ServiceOutputDir)\OpenAutomate.BotAgent.Service.deps.json" />
            </Component>
            <Component Id="cmpF384A9F078AD976C80166C0E6BB02687" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{E46E2606-D52C-4554-A3AE-5E716BB88C0A}">
                <File Id="filA20539DC8510DCD2BFB0E6F926DCC0FE" KeyPath="yes" Source="$(var.ServiceOutputDir)\OpenAutomate.BotAgent.Service.dll" />
            </Component>
            <Component Id="cmpB32008B9E72035F7B1A0FE938E8BE64E" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{4EC9E490-F6B4-432A-A677-5F6FEC2C46D0}">
                <File Id="filCEB8B58C3334B5FC6A6112715448228A" KeyPath="yes" Source="$(var.ServiceOutputDir)\OpenAutomate.BotAgent.Service.exe" />
                <ServiceInstall
                  Id="BotAgentService"
                  Type="ownProcess"
                  Vital="yes"
                  Name="OpenAutomateBotAgentService"
                  DisplayName="OpenAutomate Agent Service"
                  Description="Executes automation tasks and communicates with OpenAutomate server."
                  Start="auto"
                  ErrorControl="normal"
                  Account="LocalSystem"
                />
                <ServiceControl
                  Id="StartService"
                  Name="OpenAutomateBotAgentService"
                  Start="install"
                  Stop="both"
                  Remove="uninstall"
                  Wait="yes" />
            </Component>
            <Component Id="cmpE8C7132F8110DD8118B92811DDAF0D51" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{AF9B830B-F69E-4DBA-984A-CA9934415963}">
                <File Id="fil24562C31C86945E8BA07086733AE183D" KeyPath="yes" Source="$(var.ServiceOutputDir)\OpenAutomate.BotAgent.Service.pdb" />
            </Component>
            <Component Id="cmpF167E69C559418CB1BFC81BE591318F2" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{C8080D7D-F45A-4946-B815-A89049A3B3BB}">
                <File Id="fil0A38331A993395AD2CF33110C23724E3" KeyPath="yes" Source="$(var.ServiceOutputDir)\OpenAutomate.BotAgent.Service.runtimeconfig.json" />
            </Component>
            <Component Id="cmp2CC85AD587877CFABE28FC2F2A45EC66" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{0CA61218-E0A6-4E5A-82CD-357E23E021B8}">
                <File Id="fil01CA4A80E2198729A8150A64CE2D7A32" KeyPath="yes" Source="$(var.ServiceOutputDir)\Serilog.dll" />
            </Component>
            <Component Id="cmp95EBBBA02AEFA3635F92D40DC881261D" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{D3153ABB-0039-49D3-967F-571564C01136}">
                <File Id="filFFD740533CEF38DB1C23DF9DD3B7F169" KeyPath="yes" Source="$(var.ServiceOutputDir)\Serilog.Extensions.Hosting.dll" />
            </Component>
            <Component Id="cmp270B664EE697ABDC57928F60AD886BC0" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{46E79372-134E-419E-9BFB-21A20CC55F65}">
                <File Id="fil822AB9D04B33D9AF434F6B94172EC4AD" KeyPath="yes" Source="$(var.ServiceOutputDir)\Serilog.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmpE167F3BE1EC9F0133A124755F04CDF9B" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{D3173038-B1DE-4C00-9DCC-BC98B0B396FC}">
                <File Id="filE9024002A6B2BCE869B39A1A1F30B06A" KeyPath="yes" Source="$(var.ServiceOutputDir)\Serilog.Sinks.Console.dll" />
            </Component>
            <Component Id="cmpF9357E46DF35ED9E7E3D49AAD8A39C3F" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{5C37D011-9D2D-40A4-8AB1-7CFA0A3EFFAC}">
                <File Id="fil69293EC2340693FF9F1DB5833D53F4BB" KeyPath="yes" Source="$(var.ServiceOutputDir)\Serilog.Sinks.File.dll" />
            </Component>
            <Component Id="cmpE59C4A30BFC1AAF1EB7124B4C5878AB2" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{C033DC1C-50E8-476A-92C9-762624D13C78}">
                <File Id="fil0752A55C397AB09D7A30BD2C7B51A9A6" KeyPath="yes" Source="$(var.ServiceOutputDir)\System.Diagnostics.EventLog.dll" />
            </Component>
            <Component Id="cmpB48E4C9C5AB8DD9B94DF74972E00E7D2" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{89E53F24-ACAF-4099-94CC-E949E8B8677F}">
                <File Id="fil8C650E4485A40FBA1DC852FCA0F81AAC" KeyPath="yes" Source="$(var.ServiceOutputDir)\System.Net.WebSockets.WebSocketProtocol.dll" />
            </Component>
            <Component Id="cmpECF2B3855E7FDAAEC91110C7FB726C5F" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{B9AD2087-642A-41C0-899A-8F8E638AC590}">
                <File Id="fil7094A5CADE421F9636417734F73DA6E6" KeyPath="yes" Source="$(var.ServiceOutputDir)\System.Security.Cryptography.ProtectedData.dll" />
            </Component>
            <Component Id="cmpCD0EBE0B6C1A4BEBBA33294F8438CC8F" Directory="dir73D925AE8D269EFA5D58CC0C77DF1660" Guid="{7B13E32F-5EC4-4554-84F5-B15CAC6237C0}">
                <File Id="fil3324C7A28B7B9F2804E11C2958A82CE1" KeyPath="yes" Source="$(var.ServiceOutputDir)\System.ServiceProcess.ServiceController.dll" />
            </Component>
            <Component Id="cmpE5AC7221A24F3A21B4C27A90C5DA6126" Directory="dirDF83E2B3744F8CB2DE2BFD2E684A15A4" Guid="{3B965B71-CA8B-4E05-BCEF-3FABD80DEA4C}">
                <File Id="filD2C0847F08FBBCE240669BA64989F792" KeyPath="yes" Source="$(var.ServiceOutputDir)\runtimes\win\lib\net8.0\System.Diagnostics.EventLog.dll" />
            </Component>
            <Component Id="cmp9A8E31C301D01CFB56E4B3A44A7C1E65" Directory="dirDF83E2B3744F8CB2DE2BFD2E684A15A4" Guid="{A1F8D3A3-5982-4C13-8F9C-BA73192F4B9B}">
                <File Id="fil5C7BAF26190490A06727105D77B768FE" KeyPath="yes" Source="$(var.ServiceOutputDir)\runtimes\win\lib\net8.0\System.ServiceProcess.ServiceController.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirE15D6DE9AE68311752E92BAD37BB645F">
            <Directory Id="dirBDFD71B1FA98BA88B6AC1CD9EF1B5B7C" Name="win" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirBDFD71B1FA98BA88B6AC1CD9EF1B5B7C">
            <Directory Id="dirDEC4EEA5FD02ADF49671C13115563EC6" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirDEC4EEA5FD02ADF49671C13115563EC6">
            <Directory Id="dirDF83E2B3744F8CB2DE2BFD2E684A15A4" Name="net8.0" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir73D925AE8D269EFA5D58CC0C77DF1660">
            <Directory Id="dirE15D6DE9AE68311752E92BAD37BB645F" Name="runtimes" />
        </DirectoryRef>
    </Fragment>
</Wix>